**1-Write a Python program to calculate the length of a string using 2 ways

In [27]:
text = "amr"
print (len (text))

3

In [62]:
text = 'amr'
len=0
for count in text:
    len+=1
    print(len)

1
2
3

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String

In [7]:
name = input('Please enter a string: ')

if len(name) >= 2:
    result = name[0:2] + name[-2:]
else:
    result = ""
print (result)

Please enter a string: am
amam

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [7]:
text = input('Enter a string: ')

if len(text) >= 3:
    if text[-3:] == 'ing':
        result = text + 'ly'
    else:
        result = text + 'ing'
else:
    result = text

print(result)

Enter a string: am
am

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [31]:
menu=['amr','ahmed','mohamed','akbresmfehom']
longest_word =''
length_of_longest=0
for word in menu:
    if len(word)>length_of_longest:
        longest_word=word
        length_of_longest=len(word)
print('longest word:',word,'    the length is:',length_of_longest)

longest word: akbresmfehom     the length is: 12

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [3]:
text=input('enter a string:')
new_char = input('enter a new char:')
if len (text) >2 :
     result = new_char + text[1:-1] + new_char
else:
    result = text
print(result)

enter a string:amr
enter a new char:e
eme

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [11]:
text = input('enter a string:')
result=text[0: :2]
print(result)

enter a string:abcd
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [13]:
text="amr amr aho mrten"
text.count('amr')

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [1]:
text =input('enter a string ')
print(text.upper())
text2 =input('enter a sec string ')
text2.lower()

enter a string amr
AMR
enter a sec string AMR

'amr'

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [10]:

input_str = "abcdefgh"

# Check if the length is a multiple of 4
if len(input_str) % 4 == 0:
    reversed_str = input_str[::-1]
    result = reversed_str
else:
    result = input_str

# Print the result
print(f"Original String: {input_str}")
print(f"Result: {result}")

Original String: abcdefgh
Result: hgfedcba

**10- Write a Python program to remove a newline in Python

In [17]:
text="ammrrrrrrrrr"

result=text.rstrip()
print(repr(text))
print(repr(result))

'ammrrrrrrrrr'
'ammrrrrrrrrr'

**11-Write a Python program to check whether a string starts with specified characters

In [2]:
text = input('enter a string:')
specifiec_char=input('enter a specific char:')
if text [:len(specifiec_char)]==specifiec_char:
    print('its a specified characters')
else:
    print('its not a specified characters')

enter a string:amr
enter a specific char:hesham
its not a specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

In [12]:
input_string = """This is line 1.
This is line 2.
And this is line 3."""

prefix = "Prefix: "

result_string = '\n'.join([prefix + line for line in input_string.split('\n')])

print(result_string)

Prefix: This is line 1.
Prefix: This is line 2.
Prefix: And this is line 3.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [19]:

rounded_num=round(float(input('enter the float num:')),2)

print(rounded_num)

enter the float num:2.989
2.99

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

In [20]:
number = 1234567.89
formatted_number = f'{number:,}'
print(formatted_number)

1,234,567.89

**16-Write a Python program to reverse a string using 2 ways

In [22]:
text="rma"
text2=''
for char in reversed (text):
    text2 += char
print(text2)

amr

In [23]:
text='rma'
text2=text[::-1]
print(text2)

amr

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [25]:
text='amrrr'
dec={}
for char in text:
    if char !=' ':
        dec[char]=dec.get(char,0)+1
print(dec)

{'a': 1, 'm': 1, 'r': 3}

**18-Write a Python program to find the first non-repeating character in a given string

In [32]:
text=input('enter a string:')
dec={}
for char in text:
    if char !=' ':
        dec[char]=dec.get(char,0)+1
first_non_repeating_char = None
for char in text:
    if char != ' ' and dec[char] == 1:
        first_non_repeating_char = char
        break
print (first_non_repeating_char)

enter a string:aamrr
m

**19-Write a Python program to remove spaces from a given string

In [33]:
text =input('enter a string:')
result=text.replace(' ','')
print (result)

enter a string:am r
amr

**20-Write a Python program to count the number of non-empty substrings of a given string

In [35]:

text = input('enter a string:')


length = len(text)
count_substrings = (length * (length + 1)) // 2

print("The number of non-empty substrings is:",count_substrings)

enter a string:amr
The number of non-empty substrings is: 6

**21-write a Python program to swap first and last element of any list.

In [41]:
l=[4,2,3,1]
l[0],l[-1]=l[-1],l[0]
print(l)

[1, 2, 3, 4]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [43]:
l=[23,65,19,90]
l[0] , l[2] = l[2] ,l[0]
print (l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [6]:
l=[1,93,3,4,5,30]
maxnum=0
for num in l:
    if num > maxnum:
        maxnum=num
print(maxnum)

93

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [8]:

l=[93,3,4,5,30]
if len(l)>2:
    minnum=min(l)
else:
    print('the list is empty')
print(minnum)

3

**26-search for if an elem is existing in list

In [12]:
l=[3,4,7,9]
l.index(4)

1

**27- clear python list using different ways

In [17]:
l=[9,8,7,6]
l.clear()
print(l)

[]

**28-remove duplicated elements from a list

In [25]:
l=[1,1,1,1,2,3]
unique_list = []
for item in l:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 2, 3]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [1]:

test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
 
key_list = ["name", "number"]

res = [{key_list[i]: val for i, val in enumerate(pair)} for pair in zip(test_list[::2], test_list[1::2])]

# printing result 
print("The constructed dictionary list : " + str(res))

The constructed dictionary list : [{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

**30-write a python program to count unique values inside a list using different ways

In [15]:
l=[1,1,2,2,3]
l2=set(l)
print(len(l2))
print(l2)

3
{1, 2, 3}

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [55]:

my_list = [1, 2, 2, 2, 4, 4, 5, 6, 6, 7, 7, 4]
k_value =2 
element_frequency = {}
for element in my_list:
    element_frequency[element] = element_frequency.get(element, 0) + 1
result_list = [element for element, frequency in element_frequency.items() if frequency > k_value]
print("Original List:", my_list)
print("Elements with Frequency Greater Than k :", result_list)

Original List: [1, 2, 2, 2, 4, 4, 5, 6, 6, 7, 7, 4]
Elements with Frequency Greater Than k : [2, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [56]:
for digit1 in range(1, 4):
    for digit2 in range(1, 4):
        for digit3 in range(1, 4):
            if digit1 != digit2 and digit2 != digit3 and digit1 != digit3:
                print(digit1, digit2, digit3)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [58]:
# Example list
test_list = [1, 2, 3]
result = []
n = len(test_list)
for i in range(n):
    for j in range(i, n):
        result.append(test_list[i:j + 1])
for subset in result:
    print(subset)

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [60]:
l1=[1,2]
l2=['a','b']
result =[]
for elmn1 in l1:
    for elm2 in l2:
        result.append((elmn1,elm2))
print (result)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [70]:
l=[1,1,2,3,4,5,1,2]
remove=1 
for x in l:
    if x !=remove:
        print(x)

2
3
4
5
2

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [64]:
# Original lists
list1 = ['amr', 'real', 'madrid']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
   
res = [list1[idx] for idx in list2]
    
print(res)

['amr', 'real', 'madrid', 'real', 'amr', 'amr', 'amr', 'madrid', 'real', 'real', 'madrid', 'amr']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [15]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

SyntaxError: invalid syntax (1197306156.py, line 1)

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [128]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
result_dict = dic1.copy()  # Make a copy of dic1 to keep it unchanged
result_dict.update(dic2)
result_dict.update(dic3)
print(result_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [117]:
# Original dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Iterate over keys using a for loop
for key in my_dict:
    print(f"Key: {key}, Value: {my_dict[key]}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

**44- Write a Python script to merge two Python dictionaries

In [116]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'f': 3, 'c': 4}
merged_dict = dict1.copy()  
merged_dict.update(dict2)
print("Original Dictionary 1:", dict1)
print("Original Dictionary 2:", dict2)
print("Merged Dictionary:", merged_dict)

Original Dictionary 1: {'a': 1, 'b': 2}
Original Dictionary 2: {'f': 3, 'c': 4}
Merged Dictionary: {'a': 1, 'b': 2, 'f': 3, 'c': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [114]:
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print("Original Dictionary:", my_dict)
print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Original Dictionary: {'a': 10, 'b': 5, 'c': 20, 'd': 15}
Maximum Value: 20
Minimum Value: 5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [113]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {key: value for key, value in original_dict.items() if value is not None }
new_dict = {key: value for key, value in new_dict.items() if value is not None}
print("Original Dictionary:", original_dict)
print("New Dictionary after dropping empty items:", new_dict)

Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [84]:
numbers_tuple = (1, 2, 3, 4)
numbers_tuple[1]

2

**48-Write a Python program to unpack a tuple into several variables

In [82]:
my_tuple = (1, 2, 3)
var1, var2, var3 = my_tuple
print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

Variable 1: 1
Variable 2: 2
Variable 3: 3

**49-Write a Python program to add an item to a tuple

In [76]:

original_tuple = (1, 2, 3, 4, 5)
new_item =6
new_tuple = original_tuple + (new_item,)
print("Original Tuple:", original_tuple)
print("New Tuple with Added Item:", new_tuple)

Original Tuple: (1, 2, 3, 4, 5)
New Tuple with Added Item: (1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [73]:
original_tuple = (1, 2, 3, 4, 5)
string_from_tuple = ''.join(map(str, original_tuple))
print("Original Tuple:", original_tuple)
print("String from Tuple:", string_from_tuple)

Original Tuple: (1, 2, 3, 4, 5)
String from Tuple: 12345

**51-Write a Python program to convert a list to a tuple

In [72]:
list=[1,2,3,4]
tuple_list=tuple(list)
print(tuple_list)

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [107]:
original_tuple = (1, 2, 3, 4, 5)
list_representation = list(original_tuple)
list_representation.reverse()
reversed_tuple = tuple(list_representation)
print(original_tuple)
print(reversed_tuple)

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [106]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [90]:
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
total_sum = 0
total_elements = 0
for inner_tuple in tuple_of_tuples:
    total_sum += sum(inner_tuple)
    total_elements += len(inner_tuple)

average_value = total_sum / total_elements
print(average_value)

5.0

**56-Write a Python program to add member(s) to a set.

In [81]:
s={1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [80]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [78]:
s1={1,2,3,4}
s2={1,3,5,6}
intersection= s1.intersection(s2)
print(intersection)
union=s1.union(s2)
print(union)
deff=s1.difference(s2)
print(deff)
sym=s1.symmetric_difference(s2)
print(sym)

{1, 3}
{1, 2, 3, 4, 5, 6}
{2, 4}
{2, 4, 5, 6}

**59-Write a Python program to find the maximum and minimum values in a set

In [72]:
s={1,3,5,6,3}
maxnum=0
for x in s:
    if x>maxnum:
        maxnum=x
print(maxnum)

6

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [71]:
my_list = [1, 2, 3, 4,5,6]
target_sum = 7
pairs = []
for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):
        if my_list[i] + my_list[j] == target_sum:
            pairs.append((my_list[i], my_list[j]))
print(pairs)

[(1, 6), (2, 5), (3, 4)]